<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--<script src="/static/javascript/map.js"></script> -->
    <meta charset="UTF-8">
</head>
<body>
<script>

    var api = "{{api}}"

    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    var deferred;

    function currentPosition() {
        deferred = $.Deferred();

            if (window.navigator && window.navigator.geolocation) {
                window.navigator.geolocation.getCurrentPosition(showPosition, handleError);
            } else {
                deferred.reject("Browser does not supports HTML5 geolocation");
            }
            return deferred.promise();
    }

    function showPosition(position) {
        $('input[name="address"]').attr('value', position.coords.latitude + "," + position.coords.longitude);
        $('input[name="address"]').attr('readonly', true);
        deferred.resolve(position.coords.latitude+","+position.coords.longitude);
    }

    function handleError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
              //x.innerHTML = "User denied the request for Geolocation.";
              deferred.reject(error.message);
              alert("Enter your address");
              break;
            case error.POSITION_UNAVAILABLE:
              //x.innerHTML = "Location information is unavailable."
              alert("Location information is unavailable.")
              deferred.reject(error.message);
              break;
            case error.TIMEOUT:
              //x.innerHTML = "The request to get user location timed out."
              alert("The request to get user location timed out.")
              deferred.reject(error.message);
              break;
            case error.UNKNOWN_ERROR:
              //x.innerHTML = "An unknown error occurred."
              alert("An unknown error occurred.")
              deferred.reject(error.message);
              break;
        }
    }


    //getLocation is a callback function, any function that calls it should wait for a response
    function getLocation(callback){
        //check if the user has added an address
        if ($('input[name="address"]').val().length > 0){
            callback($('input[name="address"]').val());
        }
        else
        {
            currentPosition().then(function(data) {
                callback(data);
                });
        }
    }

    function setMap() {
        if (typeof $('input[name="optradio"]:checked').val() != 'undefined'){
            getLocation(function (result){
                newSRC(result);
            });
        }
        else{
            //check if the user has selected a clinic, if not then throw an alert.
            alert("Make a selection or Get a recommendation")
        }
    }

    function newSRC(origin){

        if  ($('input[name="moderadio"]:checked').val() === 'CAR'){
            mode = 'driving';
        }
        else if ($('input[name="moderadio"]:checked').val()=== 'WALK'){
            mode='walking';
        }
        else{
            mode = 'transit';
        }
        url = "https://www.google.com/maps/embed/v1/directions" +
                    "?key=" + encodeURIComponent(api) +
                    "&origin=" + encodeURIComponent(origin) +
                    "&destination=" + encodeURIComponent($('input[name="optradio"]:checked').val()) +
                    "&mode=" + mode +
                    "&avoid=tolls|highways";
        console.log($('input[name="optradio"]:checked').val());
        console.log(url);
        document.getElementById('iFrame').setAttribute('src', url);


    }

    function slider(optionSelected){
        var deferred = $.Deferred();
        var selectedValue = optionSelected;
        if (selectedValue === 'hospitals'){

            $.getJSON($SCRIPT_ROOT + '/hospitalWaitTimes', {}, function(data) {
                $("#radioButtons").html(data.table);
                deferred.resolve(true);
            });
        }
        else if (selectedValue === 'medicentres'){

            $.getJSON($SCRIPT_ROOT + '/medicentreWaitTimes', {}, function(data) {
                $("#radioButtons").html(data.table);
                deferred.resolve(true);
            });
        }
        else if (selectedValue === 'other'){

            $.getJSON($SCRIPT_ROOT + '/otherClinics', {}, function(data) {
                $("#radioButtons").html(data.table);
                deferred.resolve(true);
            });
        }
        else{
            deferred.resolve(true);
        }

        return deferred.promise();
    }

    $(function() {
      $(".sidenav a").on("click", function() {
        $(".sidenav a").removeClass("active");
        $(this).addClass("active");
        slider(this.getAttribute('value'));
      });
    });


    function recommend(){

        getLocation(function (origin_){
                show('loading', true);
                var getRecommendation = function(e) {
                  $.getJSON($SCRIPT_ROOT + '/recommend', {
                    origin: origin_,
                    mode: $('input[name="moderadio"]:checked').val()
                  }, function(data) {
                    var where = data.where;
                    var type = data.type;
                    var time_ = data.bestTime;
                    var promise = slider(type);
                    console.log(type);
                    console.log(where);
                    console.log(typeof(where));
                    console.log(time_);
                    promise.then(function(result) {
                        if (type == null){
                            alert("Please review your address.");
                            show('loading', false);
                        } else{
                            $('label:contains(' + where +')').children()[0].checked = true;
                            newSRC(origin_);
                            $('#recommend').html('<p>Recommendation: ' + where + '<\p><p>You will be seen by approximately ' + time_ + '<\p>');
                            show('loading', false);
                        }
                    });
                  });
                  return false;
                };

                getRecommendation();
            })
        }

    function show(id, value) {
        document.getElementById(id).style.display = value ? 'block' : 'none';
    }


</script>
<div class="sidenav" name="clinic_options" id="nav_bar">
  <a href="#" value="hospitals" onclick="slider()" class="active">Hospital Emergency</a>
  <a href="#" value="medicentres" onclick="slider()">Medicentre</a>
  <a href="#" value="other" onclick="slider()">Other Walk-in Clinics</a>
    <a href="#" value="recommendation" onclick="recommend()">Get a Recommendation</a>
</div>

<div class="main">
        <div>
        <label>Mode of Travel:</label><br>
      <input type="radio" name="moderadio" value="TRANSIT" checked> Transit
      <input type="radio" name="moderadio" value="WALK"> Walk
      <input type="radio" name="moderadio" value="CAR"> Car
    </form>
    </div>
    <table width="80%" height="600px">
        <tbody>
        <tr>
    <td width="50%">
        <div id="radioButtons" style="border: 1px; height: 100%; overflow: auto;">{{table|safe}}
        </div>
    </td>
    <td width="50%" style="text-align: center;">
      <iframe id="iFrame" src="https://www.google.com/maps/embed/v1/place?key={{api}}
                &amp;q=Edmonton,AB" width="400px" height="400px" align="centre|top">
    </iframe>
    </td>
    </tr>
</tbody>
</table>
    <form>
    Your location: <input type="text" name="address" placeholder="Enter an address!" value="">
</form>
<button onclick="setMap()">Get Directions</button>
    <div id="recommend"></div>
</div>
<div id="loading"></div>
</body>
</html>